<div>

  <h2>検索結果</h2>

<% @words.each do |word| %>
<%= word.word %>・・・<%= word.meaning %><br />
<% end %>

<h2>新しい単語を追加</h2>

  <%= form_tag('/words', method: :post,) do %>
    <input type="text" name="word" class="new_words" placeholder="単語を入力して下さい(英語)" /><br />
    <input type="text" name="meaning" class="new_words"  placeholder="単語の意味を入力して下さい(日本語）" /><br />
    <input type="text" name="wrong1" class="new_words"  placeholder="不正解の選択肢1を入力して下さい(日本語）" /><br />
     <input type="text" name="wrong2" class="new_words"  placeholder="不正解の選択肢2を入力して下さい(日本語）" />
    <div class="button-box">
      <input type="submit" class="submit-button">
    </div>
  <% end %>

</div>