body{
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;}

  h1,h2,h3,h4,h5,h6,p,ul,table {
  padding: 10px 0;
  margin: 0;
}

header{
  margin:0px auto;
  padding:0px;
  width:100%;
}

header a:link{
color: #fff;
font-weight:bold;
}

header a:hover{
color: #ff0;
font-weight:bold;
text-decoration: none;
}

h2{
  font-size:16px;
  color:#0000ee;
  font-weight: bold;
}

header ul{
margin:0px;
padding:10px;
background-color: #000099;
font-size: 14px;
color: #fff;
}

header li{
  display: inline;
  padding:0px;
}

ul{
  list-style:none;
}

div{
  padding:10px;
  line-height: 200%
}

input{
  border:1px solid #000;
  margin-top:10px;

}

table{
  border:2px solid #0066ff;
  border-collapse: collapse;
  background-color: #0066ff;
}

tr,th,td{
  padding:5px;
  border:1px solid #3399cc;
}

td{
  background-color:#ccffff;
}

th{
  background-color:#0066ff;
  color:#fff;
}

.new_words{
  width:250px;
}

.submit-button{
  border:1px solid #000;
  background-color: #ccc;
  width:50px;
  height: 20px;
  color:#111;
}

.result{
  font-weight:bold;
  font-size:16px;
  color:#ff0000;
}

.delete_edit{
  border:1px solid #000;
  margin-top:10px;
  padding:3px;
  color:#000;
  background-color:#ccc;
}

a:link.delete_edit{
  color:#000;
  text-decoration:none;
  font-weight:normal;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

  .navbar {
    border-radius: 4px;
  }

 *
 *= require_tree .
 *= require_self
 */